/* style.css */
:root {
    --bg-color: white;
    --text-color: black;
    --primary-color: #4a90e2; /* Contoh warna tombol biru */
    --font-family: 'Verdana', sans-serif;
    --base-font-size: 16px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/* Gaya untuk Dark Mode */
body.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --primary-color: #493939; /* Warna tombol Dark Mode yang berbeda */
}

/* Gaya untuk kontainer dan elemen lainnya */
.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.controls {
    margin-bottom: 20px;
    /* Penataan gaya untuk elemen select dan button agar terlihat rapi */
}

.input-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#new-task-input {
    padding: 10px;
    flex-grow: 1;
    border: 1px solid #ccc;
    font-size: var(--base-font-size);
}

#add-task-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: var(--base-font-size);
    margin-left: 10px;
}

#task-list {
    list-style: none;
    padding: 0;
}
#task-list li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.delete-btn {
    float: right;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}
.edit {
    float: right;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.finish-btn {
    float: right;
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    
} 

@media (max-width: 480px) {
  .task-input input[type="text"],
  .task-input button,
  .controls select,
  .controls button {
    width: 100%;
    font-size: 1rem;
  }

}
