
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.dock_atas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(90deg, #1e3a8a, #a23bf6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

/* Kontainer utama (kompensasi dock atas) */
.container {
  width: 400px;
  text-align: center;
  margin-top: 88px;
}

/* Avatar */
.foto img {
  width: 50%;
  border-radius: 0;
  border: 10px solid #fff;
   border-image: linear-gradient(#3b82f6, #9333ea) 1;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kotak_pertama {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.kotak_hobi {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.kotaklagi {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-left: 3px solid #7e1fd6;

}

.card h2 {
  color: #1e3a8a;
  margin-bottom: 10px;
  font-size: 18px;
}

a {
  color: #950bb1;
  text-decoration: none;
}
